.matches {
    display: grid;
    grid-template-columns: 15.5em 17em 50em 6em 7em;
    grid-auto-rows: 1.9em;
    height: 32em;
    width: 97.5%;
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    text-align: center;
    font-size: 0.85em;
    align-self: center;
}
.m-row {
    display: grid;
    grid-template-columns: 15.5em 17em 50em 6em 7em;
    grid-auto-rows: 1.9em;
    grid-column-start: 1;
    grid-column-end: 5;
}
.header, .opponents, .tourney, .item, .tourney, .m-solo, .lost, .won, .m-ongoing  {
    border-style: solid;
    border-color: white;
    border-width: 0.15em;
    padding-top: 0.2em;
}
.header, .opponents {
    background-color: rgb(178, 140, 214);
}
.item, .m-solo {
    background-color: rgba(178, 140, 214, 0.4)
}
.opponents {
    grid-column-start: 2;
    grid-column-end: 4;
}
.tourney {
    background-color: rgba(178, 140, 214, 0.7);
    grid-column-start: 1;
    grid-column-end: 6;
    font-weight: bold;
}
.m-solo {
    grid-column-start: 2;
    grid-column-end: 4;
}
.lost {
    background-color: rgb(222, 179, 185, 0.4)
}
.won {
    background-color: rgba(172, 222, 148, 0.4);
}
.m-solo a, .item a {
    text-decoration: none;
    color: rgb(98, 60, 134);
}
.m-solo a:hover, .item a:hover {
    color: rgb(178, 140, 214);
}
.m-ongoing {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: lightgray;
}

/*All of below is to separate the segments of each tourney*/
#olrt1 {
    grid-row-start: 2;
    grid-row-end: 10;
}
#npc2 {
    grid-row-start: 10;
    grid-row-end: 17;
}
#olrt2 {
    grid-row-start: 17;
    grid-row-end: 22;
}
#otvt {
    grid-row-start: 22;
    grid-row-end: 26;
}
#stk8 {
    grid-row-start: 26;
    grid-row-end: 33;
}
/*Change this and everything below when this tourney ends*/
#bqt2 {
    grid-row-start: 33;
    grid-row-end: 35;
}
/*Change this and everything below when this tourney ends*/
#bnc {
    grid-row-start: 35;
    grid-row-end: 37;
}
#ost {
    grid-row-start: 37;
    grid-row-end: 40;
}