/* Overview div element */
.overview {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5em 15em;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 110%;
}
#overview-1 {
    border-right: 1.5px solid rgba(0, 0, 0, 0.3);
    grid-row-start: 1;
    grid-row-end: 4;
}
#overview-2 {
    grid-column-start: 2;
    grid-column-end: 5;
}
.medal {
    height: 60%;
    width: auto;
}
/* Sort menu */
.sort-menu {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 92%;
}
.sort-submenu {
    display: grid;
    border-bottom: 0.2em solid rgb(0, 6, 12);
    margin-right: 2em;
}
.sort-type {
    font-size: 1.1em;
    color: rgb(0, 6, 12);
    font-weight: bold;
    text-align: center;
    padding: 0.2em 0.2em 0.2em 0.2em;
}
.sort-option {
    border: 0.2em solid rgb(0, 6, 12);
    border-bottom: none;
}
.sort-option button {
    width: auto;
    color: rgb(0, 6, 12);
    font-size: 0.95em;
    width: 100%;
    height: 100%;
    padding: 0.2em 0.2em 0.2em 0.2em;
    background-color: rgba(0, 0, 0, 0);
}
.sort-item-active { background-color: rgb(0, 6, 12); }
.sort-item-active button {
    color: white;
    font-size: 0.95em;
    width: 100%;
    height: 100%;
    padding: 0.3em 0.2em 0.3em 0.2em;
    background-color: rgba(0, 0, 0, 0);
}
.sort-by-date {
    margin-bottom: 1.5em;
    grid-template-columns: auto auto auto;
}
.sort-by-year {
    margin-bottom: 1.5em;
    grid-template-columns: auto auto auto auto;
}
.sort-by-placement { grid-template-columns: auto auto auto; }
.sort-by-tournament-type { grid-template-columns: auto auto auto auto; }
/* Player history div element */
.tournament-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}
.tournament {
    display: grid;
    grid-template-columns: 2% 13% 13% 9% 19% 13% 2% 12% 12% 5%;
    grid-template-rows: 64% 36%;
    border-style: solid;
    border-color: rgba(0, 6, 12);
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    height: 2.8em;
    background-color: rgb(26, 32, 44);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tournament-name {
    grid-column-start: 1;
    grid-column-end: 8;
    text-align: center;
    padding-top: 0.5em;
    font-size: 72%;
    font-weight: bold;
    color: white;
}
.tournament-name a {
    text-decoration: none;
    color: white;
}
.tournament-name a:hover {
    color: rgba(255, 255, 255, 0.5);
}
.placement, .placement-1st, .placement-2nd, .placement-3rd {
    grid-column-start: 8;
    grid-column-end: 11;
    text-align: center;
    padding-top: 0.7em;
    font-size: 58%;
    color: white;
}
.placement a, .placement-1st a, .placement-2nd a, .placement-3rd a {
    text-decoration: none;
    color: white;
}
.placement a:hover, .placement-1st a:hover, .placement-2nd a:hover, .placement-3rd a:hover {
    color: rgba(255, 255, 255, 0.5);
}
.seeding {
    grid-column-start: 7;
    grid-column-end: 9;
}
.date, .rank-range, .format-1, .format-2, .participant-count, .view-more,  .seeding {
    text-align: center;
    padding-top: 0.5em;
    font-size: 40%;
    color: white;
}
/* Extensions for team tournaments*/
.extension-1t, .extension-2t, .extension-3t, .extension-4t, .extension-5t, .extension-6t, .extension-7t {
    display: grid;
    grid-template-columns: 38% 62%;
    border-style: solid;
    border-color: rgba(0, 6, 12);
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    height: 1em;
    background-color: rgb(0, 6, 18);
}
/* For links */
.extension-1t a, .extension-2t a, .extension-3t a, .extension-4t a, .extension-5t a, .extension-6t a, .extension-7t a {
    text-decoration: none;
    color: white;
}
.extension-1t a:hover, .extension-2t a:hover, .extension-3t a:hover, .extension-4t a:hover, .extension-5t a:hover, .extension-6t a:hover, .extension-7t a:hover {
    color: rgba(255, 255, 255, 0.5);
}
/* Team size 2 (1 teammate) */
.extension-1t {grid-template-columns: 30% 70%;}
/* Team size 3 (2 teammate) */
.extension-2t {grid-template-columns: 30% 35% 35%;}
/* Team size 4 (3 teammate) */
.extension-3t {grid-template-columns: 30% 23.334% 23.333% 23.334%;}
/* Team size 5 (4 teammate) */
.extension-4t {grid-template-columns: 30% 17.5% 17.5% 17.5% 17.5%;}
/* Team size 6 (5 teammate) */
.extension-5t {grid-template-columns: 30% 14% 14% 14% 14% 14%;}
/* Team size 7 (6 teammate) */
.extension-6t {grid-template-columns: 30% 11.667% 11.667% 11.666% 11.666% 11.667% 11.667%;}
/* Team size 8 (7 teammate) */
.extension-7t {grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;}
.team-name {
    text-align: center;
    padding-top: 0.25em;
    font-size: 50%;
    color: white;
}
.teammate {
    text-align: center;
    padding-top: 0.25em;
    font-size: 30%;
    color: white;
    text-align: center;
}
.teammate .country-flag {
    height: 32%;
}
/* Button to toggle match history table*/
button {
    width: 1.5em;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 6, 18);
    font-size: 120%;
    border-style: none;
}
/* Match history table */
.match-history {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    border-style: solid;
    border-color: rgb(0, 6, 18);
}
.match-history p {
    font-size: 42%;
    font-weight: bold;
    text-align: center;
}
td {
    color: rgba(0, 0, 0, 0.9);
}
th, td {
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
}
tr:hover {
    background-color: rgba(0, 6, 18, 0.1);
}
.history {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 32%;
    text-align: center;
    border-collapse: collapse;
}
.col-1 {width: 23%;}
.col-2 {width: 62%;}
.col-3 {width: 7%;}
.col-4 {width: 8%;}
/* For links */
td a {
    text-decoration: none;
    color: black;
}
td a:hover {
    color: rgba(0, 0, 0,0.5);
}
.match-history .country-flag {
    height: 1em;
    padding-top: 0.2em;
    padding-right: 0.5em;
}
/* For mobile interface */
@media screen and (max-width: 600px) {
    .overview {
        width: 90%;
        margin-left: 4%;
        margin-right: 4%;
        font-size: 100%;
        grid-template-columns: 33.33% 33.34% 33.33%;
        grid-template-rows: 19.5em 1em 1em 4em 10em;
    }
    #overview-1 {
        border-style: none;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #overview-2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .medal { height: 60%; }
    .sort-menu {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        width: 92%;
    }
    .sort-by-placement {
        margin-bottom: 1.5em;
        grid-template-columns: auto auto auto;
    }
    /* Tournaments */
    .tournament-container { width: 92%; }
    .tournament {
        grid-template-columns: 33.34% 33.33% 33.34%;
        grid-template-rows: 33% 22% 15% 15% 15%;
        height: 5.2em;
    }
    .tournament .blank { display: none; }
    .tournament-name {
        height: 10em;
        grid-column-start: 1;
        grid-column-end: 5;
        padding-top: 0.6em;
        font-size: 58%;
    }
    .placement, .placement-1st, .placement-2nd, .placement-3rd {
        grid-column-start: 1;
        grid-column-end: 5;
        font-size: 53%;
        padding-top: 0.1em;
        height: 1.2em;
    }
    .date, .rank-range, .format-1, .format-2, .participant-count, .seeding, .view-more {
        padding-top: 0.1em;
        font-size: 35%;
        color: white;
    }
    .format-2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .seeding {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    /* Extension */
    .extension-1t, .extension-2t, .extension-3t {
        grid-template-columns: 33.34% 33.33% 33.34%;
        grid-template-rows: 1em 1.2em;
        height: 2.4em;
    }
    .extension-4t, .extension-5t, .extension-6t {
        grid-template-columns: 33.34% 33.33% 33.34%;
        grid-template-rows: 1em 1.2em 1.2em;
        height: 3.6em;
    }
    .extension-7t {
        grid-template-columns: 33.34% 33.33% 33.34%;
        grid-template-rows: 1em 1.2em 1.2em 1.2em;
        height: 4.8em;
    }
    .team-name {
        font-size: 45%;
        grid-column-start: 1; grid-column-end: 4;
    }
    .teammate { padding-top: 10%; }
    .country-flag { height: 50%; }
    /* Match history div element and table*/
    .match-history { overflow: scroll; }
    .history { width: 55em; }
    th, td {
        padding-top: 1.2%;
        padding-bottom: 1.2%;
    }
}