/* Overview table */
#overview {
    display: grid;
    grid-template-columns: 13.81em 13.81em 13.81em 13.81em 13.81em 13.81em 13.81em;
    grid-auto-rows: 1.9em;
    height: 5.2em;
    width: 97.5%;
    overflow: auto;
    white-space: nowrap;
    overflow-anchor: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.85em;
}
/* 2nd table ("details") */
#details {
    display: grid;
    grid-template-columns: 22em 7.8em 7em 9.99em 9.99em 9.99em 9.99em 9.99em 9.99em;
    grid-auto-rows: 1.9em;
    height: 30.5em;
    width: 97.5%;
    overflow: auto;
    white-space: nowrap;
    overflow-anchor: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.85em;
}
.s-row {
    display: grid;
    grid-template-columns: 22em 7.8em 7em 9.99em 9.99em 9.99em 9.99em 9.99em 9.99em;
    grid-auto-rows: 1.9em;
    grid-column-start: 1;
    grid-column-end: 13;
}
/* 1st table*/
#role, #ref, #pooler, #commentator, #streamer, #sheeter, #gfx, #sub-role, #sub-ref, #sub-pooler, #sub-commentator, #sub-streamer, #sub-sheeter, #sub-gfx, 
/* 2nd table*/
.header, .tourney, .ref, .pooler, .commentator, .streamer, .sheeter, .gfx, .blank1, .blank2, .blank3, .blank4, .blank5, .date, .forum {
    border-style: solid;
    border-color: white;
    border-width: 0.15em;
    padding-top: 0.2em;
}
#header-role {
    grid-column-start: 4;
    grid-column-end: 10;
}
.forum a {
    text-decoration: none;
    color: rgb(30, 36, 52);
}
.forum a:hover {
    color: rgb(110, 116, 132);
}
/* First row + header for 2nd table */
#role, .header {background-color: rgb(140, 146, 172);}
#ref {background-color: rgb(215, 95, 80);}
#pooler {background-color: rgb(100, 175, 105);}
#commentator {background-color: rgb(95, 135, 207);}
#streamer {background-color: rgb(165, 132, 215);}
#sheeter {background-color: rgb(234, 198, 60);}
#gfx {background-color: rgb(97, 161, 184);}

/* Second row + 2nd table rows */
#sub-role, .tourney, .blank1, .blank2, .blank3, .blank4, .blank5, .date, .forum {background-color: rgba(140, 146, 172, 0.7);}
#sub-ref, .ref {background-color: rgba(215, 95, 80, 0.7);}
#sub-pooler,  .pooler {background-color: rgba(100, 175, 105, 0.7);}
#sub-commentator, .commentator {background-color: rgba(95, 135, 207, 0.7);}
#sub-streamer, .streamer {background-color: rgba(165, 132, 215, 0.7);}
#sub-sheeter, .sheeter {background-color: rgba(234, 198, 60, 0.7);}
#sub-gfx, .gfx {background-color: rgba(97, 161, 184, 0.7);}

/* For blank spaces in the 2nd table*/
.blank1 {
    grid-column-start: 9;
    grid-column-end: 10;
}
.blank2 {
    grid-column-start: 8;
    grid-column-end: 10;
}
.blank3 {
    grid-column-start: 7;
    grid-column-end: 10;
}
.blank4 {
    grid-column-start: 6;
    grid-column-end: 10;
}
.blank5 {
    grid-column-start: 5;
    grid-column-end: 10;
}