td {
    color: rgba(0, 0, 0, 0.9);
}
th, td {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
}
tr:hover {
    background-color: rgba(0, 6, 18, 0.1);
}
td a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}
td a:hover {
    color: rgba(0, 0, 0, 0.5);
}
/* Staff roles table */
.roles {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border-collapse: collapse;
}
.roles-col1 {width: 65%;}
.roles-col2 {width: 35%;}
/* Staff history table */
.staff-history {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    column-count: 3;
}
.staff-history-col1 {width: 45%;}
.staff-history-col2 {width: 15%;}
.staff-history-col3 {width: 40%;}

/* Mobile interface (This one actually works well, nice) */
@media screen and (max-width: 600px) {
    .roles {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 95%;
    }
    .staff-history {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 95%;
    }
}